/*
FF711E -orange
F9E4B3 -beige
A68C74 -lgt brown
4F3B3F -lgt purple
2E2321 - drk purple

*/


/* CSS file */
global{
  color:#333333;
}

Application{
  backgroundGradientColors:#EEEEEE,#DDDDDD;
  paddingBottom:5;
  paddingTop:5;
  paddingLeft:5;
  paddingRight:5;
}

ApplicationControlBar{
  /*
  fillColors:#CCCCCC,#CCCCCC;
  fillAlpha: 1,1;
  background-alpha:1;
  fillColors:#000000,#FFFFFF;
  backgroundColor:#FFCC66;
  backgroundColor:#c8c8c8;
  */
  borderStyle: solid;
  backgroundColor:#c8c8c8;
  dropShadowEnabled:false;
}

Button{
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #fed81c, #fff9c1, #ff9900, #ff9900;
   color: #994800;
   textRollOverColor: #ffffff;
   textSelectedColor: #994800;
   borderColor: #ecc101;
   themeColor: #ffcc00;
}

List{
  /*
  alternatingItemColors:#D6D3AE, #786937;
  selectedFillColors:#FFCC33, #FFCC33;
  rollOverColor:#ffed73;
  */
  alternatingItemColors:#e0e9f2, #d3e1f0;
  selectionColor:#fff3a3;
  rollOverColor:#ffffff;
  borderStyle:none;
  paddingTop:2;
  paddingBottom:2;
  paddingLeft:5;
  paddingRight:5;
}

Panel{
  cornerRadius:8;
  dropShadowEnabled:true;
  shadowDirection:center;
  shadowDistance:0;
  highlightAlphas:0,0;
  borderAlpha:1;
  borderColor:#d2d9e3;
  roundedBottomCorners:true;
	color: #333333;
	backgroundColor: #e0e9f2;
}

Panel.sidePanel{
  cornerRadius:0;
  dropShadowEnabled:true;
  shadowDirection:center;
  shadowDistance:0;
  highlightAlphas:0,0;
  borderAlpha:1;
  borderColor:#d2d9e3;
  roundedBottomCorners:true;
  color: #4c6e93;
  backgroundColor: #e0e9f2;
}